<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robot">

  <xacro:include filename="camera.xacro"/>

  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length="1.0" radius="0.2"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <cylinder length="1.0" radius="0.2"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="150.0"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
  </link>

  <xacro:camera>
    <origin xyz="0.3 0 0.5" rpy="0 0 0"/>
  </xacro:camera>

</robot>